<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Authentication</title>
</head>
<body>
    <form method="post">
            <input name="username">
            <input name = "password">
            <input name="email">
            <button>submit</button>
    </form>
</body>
</html>